<a href="https://colab.research.google.com/github/dasom17/BP_05_Ch6/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for i in range(2, 101):
  if i%2==0 :
    print(i,end = " ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [3]:
year = 0
balance = 1000

while balance >= 2000 :
  year = year + 1
  interest = balance * 0.07
  balance = balance + interest
print(year, "년이 걸립니다.")

0 년이 걸립니다.

In [5]:
n = 1234
sum = 0
while n > 0 :
  digit = n % 10
  sum = sum + digit
  n = n // 10
print(sum)

10

In [7]:
ans = 0
while ans != 3*9:
  ans = int(input("3*9는"))
print("맞았습니다.")

3*9는3
3*9는3
3*9는27
맞았습니다.

In [8]:
sum = 0
while True:
  x = int(input("정수를 입력하시오: "))
  if x == 0:
    break;
  sum = sum + x

print("합은", sum, "입니다.")

정수를 입력하시오: 1
정수를 입력하시오: 2
정수를 입력하시오: 3
정수를 입력하시오: 0
합은 6 입니다.

In [10]:
from random import randint

for i in range(3) :
  d1 = randint(1,6)
  d2 = randint(1,6)
print("첫번째 주사위=", d1, "두번째 주사위=", d2)

첫번째 주사위= 4 두번째 주사위= 6

In [ ]:
import turtle
t = turtle.Turtle()
t.shape("turtle")
t.lt(90)

for i in range(1,7):
  t.fd(100)
  t.fd(-30)
  t.lt(60)
  t.fd(30)
  t.fd(-30)

  t.rt(120)
  t.fd(30)
  t.fd(-30)

  t.lt(60)
  t.fd(-70)
  t.lt(60)

In [ ]:
import turtle

myPen = turtle.Turtle()
myPen.speed(0)
myPen.color("#FF0000")

for j in range (1,10):
  for i in range (1,6):
    myPen.lt(144)
    myPen.fd(200)
  myPen.lt(10)

In [ ]:
import turtle
import random

t = turtle.Turtle()
t.shape("turtle")

for j in range (1,10):
  t.up()
  x = random.randint(-200, 200)
  y = random.randint(-200, 200)
  r = random.randint(10, 200)
  t.goto(x,y)
  t.down()
  t.circle(r)

In [ ]:
import turtle

t = turtle.Turtle()
t.shape("turtle")

for i in range(5):
  t.fd(200);
  t.rt(90)
  t.fd(20);
  t.rt(90)
  t.fd(200);
  t.lt(90)
  t.fd(20);
  t.lt(90)

In [ ]:
import turtle

t = turtle.Turtle()
t.shape("turtle")
t.color('red', 'yellow')
#도형의 선색상과 채우기색상
t.begin_fill()
#속이 채워진 도형이 그려짐
while True:
  t.fd(200)
  t.lt(170)
  if abs(t.pos()) < 1:
#pos() 거북이의 좌표를 반환, abs() 절댓값 계산
    break
#반복 루프를 빠져나오는 명령어
t.end_fill()

In [12]:
import turtle
import math

t=turtle.Turtle()
t.shape("turtle")
t.color('red', 'yellow')

for x in range(0, 360):
t.goto(x,200*math.sin(x*3.14/100))

IndentationError: ignored